@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Passion One';
    --fonte-cordel: 'Sriracha';
}

body{
    background-color: white;
    margin: 0px;
    min-width: 350px;
}

header a:hover{
    text-decoration: underline;
}

header a{
    color: white;
    text-decoration: none;
}

header{
    min-height: 150px;
    background-color: black;
    background-image: url(imagens/);
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: 700;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
   
}

header > h1{
    font-size: 5em;
    margin: auto;
    padding: 10px;
    font-variant: small-caps;
}

header > p{
    font-size: 1.3em;
    margin: auto;
    padding: 10px;
}

main{
    text-align: left;
    font-size: x-large;
    font-family: var(--fonte-cordel);
}

main p{
    padding-left: 30px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

p.especial{
    background-color: rgba(0, 0, 0, 0.704);
    color: white;
    display: inline-block;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-shadow: 2px 1px 0px black; 
}

div#img01{
    background-image: url(imagens/background001.jpg);
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 7px 15px 9px 0px rgba(0, 0, 0, 0.488);
}

div#img02{
    background-image: url(imagens/background002.jpg);
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 7px 15px 9px 0px rgba(0, 0, 0, 0.489);
}

footer a{
    color: white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 20px 0px 0px 0px;
}