@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'droid';
    src: url('fontes/idroid.otf') format('opentype');
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
}

body{
    background-color: var(--cor1);
    margin: 0px;
}

header{
    background: rgb(197,235,214);
    background: linear-gradient(180deg, rgba(197,235,214,1) 3%, rgba(61,219,132,1) 39%, rgba(6,61,30,1) 97%);
    color: white;
    text-align: center;
    font-family: var(--fonte-destaque);
}

nav{
    background-color: rgba(0, 100, 0, 0.488);
}

nav > a{
    padding-right: 30px;
    border-right: 2px solid rgba(0, 0, 0, 0.347);
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    
}

nav > a:hover{
    text-decoration: underline;
    color: white;
}

a{
    color: black;
}

a:hover{
    text-decoration: underline;
    color: blue;
}



main{
    background-color: white;
    padding: 10px;
    margin: auto;
    font-family:var(--fonte-padrao);
    text-align: justify;
    text-indent: 10px;
}

section{
    background-color:var(--cor4);
    padding-left:10px;
}

article{
    background-color: white;
    padding: 0.1px 10px;
    padding-bottom: 0px;
}

aside{
    background-color: var(--cor3);
    width: auto;
    
}

footer > p {
    margin: 0px;
}

footer{
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
    margin: 20px 0px;
}