@charset "UTF-8";

@media  screen and (min-width:720px) and (max-width: 992px){
    
    div#login{
        width: 850px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    
}

@media  screen and (min-width:992px) {
    div#login{
        width: 1100px;
        border-top-left-radius: 55px;
        border-bottom-left-radius: 55px;
    }
    
    
}