@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

section#tel{
    position: absolute;
    background-image: url(pacote-d013/imagens/frame-iphone.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 627px;
    width: 311px;
}

iframe#tela{
    position: relative;
    height: 471px;
    width: 268px;
    top: 80px;
    left: 22px;
}

section#opc{
    width: 50px;
}

section#opc img{
    position: relative;
    width: 60px;
    margin: 10px;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.636);
}

section#opc img:hover{
    transform: translate(0px, -10px);
    transition: transform 0.7s;
}

section#opc a:hover{
    border-radius:80%;
    background-color: rgba(0, 0, 0, 0.541);
    border: 1px solid rgba(0, 0, 0, 0.644);
    transition: background-color 0.7s;

    border-radius: 50%;
    border: 1.5px solid white;
    width: 50px;
}